@media (min-width: 32.5em) {
    .profile-pic {
        width: 150px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
        float: right;
        margin-right: 15px;
        margin-top: 15px;
    }
}
