@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');
    .content {
        max-width: 90%;
        border-radius: 15px;
    }
    body{
        background-color: #84A98C;
        font-family: "Raleway", Helvetica, sans-serif;
        color: #3f4045;
        margin: 0 auto;
    }
    h1 {
        font-family: "Parisienne", cursive;
    }
    header {
        display: grid;
        grid-template-columns: 1fr;
    }
    .page-title {
        grid-column: 1/-1;
        grid-row: 1/2;
        font-size: 7em;
        margin-bottom: -10px;
    }
    .profile-pic {
        grid-column: 1/-1;
        grid-row: 2/3;
        margin-left: 120px;
    }
