.content {
    max-width: 90%;
    border-radius: 15px;
}
body{
    background-color: #84A98C;
    font-family: "Raleway", Helvetica, sans-serif;
    color: #3f4045;
    margin: 0 auto;
}
h1 {
    font-family: "Parisienne", cursive;
}
