@import url('https://fonts.googleapis.com/css?family=Open+Sans|Prata&display=swap');
body {
    max-width: 960px;
    background-color: white;
    margin: 0 auto;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);*/
    border-radius: 15px;
    font-family: "Open Sans", Helvetica, sans-serif;
    line-height: 1.7em;
}
header {
    background-color: #81d2c7;
    line-height: 5em;
    text-align: center;
    border-radius: 10px;
}
h1 {
    font-family: "Prata", serif;
    font-size: 3em;
    padding-top: 15px; 
}
footer {
    background-color: #81d2c7;
    line-height: 3em;
    text-align: center;
    border-radius: 10px;
}
.profile-pic {
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    position: absolute;
    top: 50px;
    right: 256px;
}
.pageHeader {
    padding-bottom: 10px;
    border-bottom: solid 1px grey;
}
.last-updated, #modif {
    display: inline;
    font-style: italic;
    color: #B23500;
    font-weight: bold;
}
.modified-div {
    margin-top: -30px;
}