@import url('https://fonts.googleapis.com/css?family=Roboto|Rozha+One&display=swap');
body {
    font-family: "Roboto", Helvetica, sans-serif;
}
.content {
    background-color: #1a6697;
}
main {
    background-color: white;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Rozha One", Georgia, serif;
}
nav {
    font-family: Verdana, sans-serif;
    margin: 0 auto;
    background-color: #252931;
    color: #53B3CB;
    line-height: 2.3em;
    margin-bottom: -18px;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.3);
}


nav ul li a:hover {
    background-color: #53B3CB;
    color: #252931;
}

.navigation {
    list-style: none;
    padding: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #53B3CB;
    font-weight: 700;
}

.responsive li {
    display: block;
}
.logo {
    width: 100px;
    border-radius: 25px;
    margin: 15px;
}
header {
    background-color: #1a6697;
    color: #ffda48;
}
footer {
    line-height: 1.25em;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 1px;
    font-size: 1.1em;
    color: #3f4045;
    color: #FFDA48;
}
footer a {
    color: #53B3CB;
}
main div {
    padding: 5px;
    margin: 10px;
    border: 2px dotted #252931;
    text-align: center;
}
.empty {
    height: 5px;
    border: none;
}
.preston {
    text-align: center;
    margin-top: 10px;
}


@media screen and (min-width: 600px) {
    main div {
        max-width: 600px;
        margin: 0 auto;
    }
    .preston {
        font-size: 2.5em;
    }
    .sunshine-header {
        float: right;
        margin-right: 20px;
        margin-top: 30px;
        font-size: 2.5em;
    }
    .logo {
        width: 200px;
    }
    nav {
        line-height: 2em;
    }
}
@media screen and (min-width: 900px) {
    main div {
        max-width: 850px;
    }
    .responsive{
        display: none;
    }
    .navigation {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    }
    .navigation a {
        margin: auto;
        font-size: 0.85em;
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
}