@import url('https://fonts.googleapis.com/css?family=Roboto|Rozha+One&display=swap');
.primary, .secondary, .accent-1, .accent-2, .font-color {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.primary {
    background-color: #1A6697;
}
.secondary {
    background-color: #FFDA48;
}
.accent-1 {
    background-color: #53B3CB;
}
.accent-2 {
    background-color: #F8B713;
}
.font-color {
    background-color: #252931;
}
body {
    max-width: 90%;
    margin: 0 auto;
    color: #252931;
    background-color: #e6e6e6;
}
.weather-logo {
    width: 100px;
    border-radius: 35px;
    border: 3px solid #65696f;
    margin: 20px;
}
.content {
    background-color: #1A6697;
    border-radius: 15px;
    max-width: 90%;
    color: #252931;
}
.page-header {
    padding: 10px;
    margin-top: -20px;
    font-size: 1.5em;
    text-align: center;
    color: #FFDA48;
}
main {
    background-color: white;
}
ul {
    list-style-type: none;
}
footer {
    line-height: 1.25em;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 1px;
    font-size: 1.1em;
    color: #FFDA48;
}
footer a {
    color: #53B3CB;
}
