@import url('https://fonts.googleapis.com/css?family=Roboto|Rozha+One&display=swap');
body {
    max-width: 960px;
    margin: 0 auto;
    color: #252931;
    background-color: #e6e6e6;
    font-family: "Roboto", Helvetica, sans-serif;
}
.weather-logo {
    width: 100px;
    border-radius: 35px;
    margin: 20px;
}
.content {
    background-color: #1A6697;
    border-radius: 15px;
    max-width: 90%;
    color: #252931;
}
.page-header {
    padding: 25px;
    margin-top: -20px;
    font-size: 1.8em;
    color: #FFDA48;
}
main {
    background-color: #f3f3f3;
    line-height: 1.5em;
}
ul {
    list-style-type: none;
}
footer {
    line-height: 1.25em;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 1px;
    font-size: 1.1em;
    color: #3f4045;
    color: #FFDA48;
}
footer a {
    color: #53B3CB;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Rozha One", Georgia, serif;
}
main h3 {
    text-align: center;
}
.purpose {
    padding: 10px 20px 20px 20px;
    margin-top: -10px;
    font-size: 1.3em;
    line-height: 1.5em;
}
.purpose-header {
    font-size: 2em;
}
.domain-name {
    padding-top: 15px;
    font-size: 1.5em;
}
.primary, .secondary, .accent-1, .accent-2, .font-color {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 130px;
}
.primary {
    background-color: #1A6697;
    color: white;
}
.secondary {
    background-color: #FFDA48;
}
.accent-1 {
    background-color: #53B3CB;
}
.accent-2 {
    background-color: #F8B713;
}
.font-color {
    background-color: #252931;
    color: white;
}


nav {
    display: none;
  }
  .menu-wrap{
    display: inline-block;
  }
.menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
.menu-wrap .toggler {
    position: absolute;
    top: 5px;
    right: 60px;
    z-index: 2;
    cursor: pointer;
    width: 90px;
    height: 90px;
    opacity: 0;
}
.menu-wrap .hamburger {
    position: absolute;
    top: 5px;
    right: 60px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: #FFDA48;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content:'';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
.menu-wrap .hamburger > div:after {
    top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg)
}
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
}
.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}


.menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.menu-wrap .menu > div {
    background-color: #53B3CB;
    border-radius: 50%;
    width: 200vh;
    height: 200vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 90vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}


@media screen and (min-width: 600px) {
    .menu-wrap {
        display: none;
        visibility: hidden;
    }
    .navigation {
        display: block;
        text-align: center;
        background-color: #252931;
        line-height: 2em;
        padding: 10px 0;
    }
    .navigation li {
        display: inline;
    }
    .navigation a {
        color: #53B3CB;
        font-size: 1.4em;
        text-decoration: none;
        padding: 10px;
    }
    .navigation a:hover {
        background: #53B3CB;
        color: #252931;
    }
    .page-header {
        font-size: 3em;
        text-align: right;
        line-height: 70px;
        white-space: pre-line;
    }
    .weather-logo {
       width: 200px;
       margin-bottom: -180px;
    }
    header {
        margin-bottom: -25px;
    }
}
@media screen and (min-width: 900px) {
    .menu-wrap {
        display: none;
        visibility: hidden;
    }
    .navigation {
        display: block;
        text-align: left;
        background-color: #252931;
        line-height: 2em;
        padding: 10px 0;
    }
    .navigation li {
        display: inline;
    }
    .navigation a {
        color: #53B3CB;
        font-size: 1.5em;
        text-decoration: none;
        padding: 20px;
    }
    .navigation a:hover {
        background: #53B3CB;
        color: #252931;
    }
    
    header {
        margin-bottom: -25px;
    }

    
}