@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

table {
    line-height: 1.8em;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th {
    background-color: #628ca6;
    color: white;
}
tr {
    background-color: #e7f0ed;
}
thead th, tfoot td {
    background-color: #7fb9c2;
    color: black;
}
thead th {
    line-height: 1.8em;
    font-size: 1.3em;
}
tfoot {
    font-size: 0.7em;
    text-align: center;
}
td, th {
    padding-left: 5px;
    padding-right: 5px;
}
tr:nth-of-type(odd) {
    background-color: #e7ffed;
}
.sales-goal {
    background-color: #628ca6;
    color: white;
}
